  <div class="input-group header">
    <input #txtSearch id="txtSearch" type="text" value=""
         [ngModel]="model" (ngModelChange)="onSearchChange($event)"
        class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon2">
    <div class="input-group-append">
        <button id="btnUpload" type="button" class="btn btn-success" (click)="inputFile.click()"> UPLOAD </button>
        <input #inputFile type="file" name="file" id="file" accept="image/x-png,image/gif,image/jpeg" hidden (change)="upload($event)" /> 
        <br/>
        <!-- <span style="font-weight: bold;color:green" *ngIf="progress > 0 && progress < 100">
            {{progress}}%
        </span>-->
        <span style="font-weight:bold;color: green;" *ngIf="message">
            {{message}}
        </span> 
    </div>        
</div>