/* MODAL STYLES
-------------------------------*/
app-modal {
    /* modals are hidden by default */
    display: none;

    .app-modal {
        /* modal container fixed across whole screen */
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100vh;    
        display: flex;
        justify-content: center;
        padding-top: 50px;
        overflow: auto;

        /* z-index must be higher than .app-modal-background */
        z-index: 1000;
        .app-modal-body {            
            background: white; 
            max-height: 100vh;
            height: 600px;
            width: 900px;
            background-color: white;
            position: relative;      
            /* margin exposes part of the modal background */            
            margin: 2px 60px;
            img{
                max-width: 100%;
                margin:auto;
                display: block;                
            }
        }

        
    }

    .app-modal-background {
        /* modal background fixed across whole screen */
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        /* semi-transparent black  */
        background-color: #000;
        opacity: 0.75;
        
        /* z-index must be below .app-modal and above everything else  */
        z-index: 900;
    }
}

body.app-modal-open {
    /* body overflow is hidden to hide main scrollbar when modal window is open */
    overflow: hidden;
}