ul {
  padding: 0;
  width: 1200px;
  margin: 10px auto 20px 80px;
}  

li
{
    display:inline;
}

img {
  border: 4px solid #eee;
  cursor: pointer;
  margin: 6px 6px;
  box-shadow: rgb(224, 199, 199) 1px 1px 8px 1px;
  transition: all 0.3s;
}
ul li img:hover{
  transform: scale(1.09);
}

#txtName{  
  width: 50%;
}
#btnDelete{  
  float: left;
}
#btnUpdate{
  margin-right: 10px;
}
.remove-radius-btn{
  border-radius: 0;
}

.custom-detail{
  max-height: 100vh;
  height: 100%;
  width: 100%;
  background-color: white;
}
.description{
  padding:10px;
  background-color: white;
}
.footer{
    text-align: right;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px;
    background-color: white;
    border-top: solid 1px #f1e6e6;
}