
<div>
  <app-upload [disable]="showProgress" 
        (uploadStatus)="uploadStatus($event)" (searchByKeyword) = "searchByKeyword($event)">
  </app-upload>
  <p *ngIf="showProgress">Progress <strong>{{percentage}}%</strong></p>
  <label class="error" [hidden]="!showUploadError">Error occured when upload picture</label>
</div>
<div class="row animation-loading">
  <ul>
    <li *ngFor="let img of listImage">      
      <a (click) = "openModal('popup-show-image', img)">
        <img src="{{img.Path}}" alt="{{img.NameWithExtension}}" title="{{img.Title}}" height="170" width="250" />
      </a>
    </li>
  </ul>
</div>

<app-modal id="popup-show-image">
  <div class="custom-detail">
    <div class="frame col-xs-12">
      <img src="{{selectedImage?.Path}}" height="100%" width="100%">
    </div>
    <div class="description col-xs-12">
       <div class="input-group">
         <div class="input-group-prepend">
          <span class="input-group-text">File name</span>
        </div>    
        <input #txtFileName id="txtFileName" type="text" class="form-control" 
         [ngModel]="selectedImage?.Title" (input)="newImageName=$event.target.value" >
        <div class="input-group-append">
        </div> 
      </div>
    </div>
    <div class="footer col-xs-12">
        <div style="width:100%">
          <button type="button" id="btnDelete" class="btn btn-danger remove-radius-btn" (click)="deleteImage()">Delete</button>
          <button type="submit" id="btnUpdate" class="btn btn-primary remove-radius-btn" (click)="renameImage()">Update</button> 
          <button type="button" class="btn btn-secondary remove-radius-btn" (click)="close()">Close</button>      
        </div>
    </div>
  </div>
  <!-- 
     -->


</app-modal>